.DetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.56);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(254, 234, 9, 0.955);
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.37);
    margin: 10px;
    -webkit-backdrop-filter: blur(4px);
    width: 800px;
    height: 800px;
}

.imgLego {
    border-radius: 50%;
    width: 150px;
}

.cardDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cardDetail2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}

.coleccion {
    text-transform: uppercase;
}

.imglogo {
    width: 100px;
    border-radius: 50%;
    padding: 10%;
}