
.carrito{
    margin: 1%;
    padding-right: 10px;
    color: rgba(255, 255, 0, 0.987);
    font-size: large;
}

.btn-cart{
    color:antiquewhite;
    border: 'none';
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrito:hover {
    filter: drop-shadow(3px 3px 10px #4091fb)
}

.nav-item .nav-link:hover {
    color: rgb(248, 16, 16);
}