.contact {
    margin-top: 7%;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    font-size: large;
}

.list-group {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: stretch;
}