.navbar {
    width: 100%;
    margin-top: 2%;
    background-color:rgba(0, 0, 0, 0.5)
}

.linksNavbar {
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    background-color: grey;
}

.imglogoNavLego {
    width: 160px;
    cursor: pointer;
}

.btnCarrito {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.filtroNavbar {
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 0, 0.987);
}

.navlink {
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 0, 0.987);
    font-size: large;
}