.itemCount {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.itemCountBox {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: floralwhite;

}

.itemCountBox p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: large;
    color: dimgray;
}

h3 {
    margin-top: 10px;
    font-size: small;

}


